# Dependencies
node_modules
node_modules/
**/node_modules
**/node_modules/**
.expo/
dist/
web-build/

# Build & Cache Outputs
android/.gradle
android/app/build/
android/build/
android/.cxx/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS & Editor temp files
.DS_Store
*.swp
*.swo
.idea/
.vscode/
